@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 159px;
  height: 205px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 0.7rem;
}
.cardFollowersCount {
  display: inline-flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 1px;
  background: #121212;
  border-radius: 10px;
  margin-left: 6px;
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-title {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  width: 150px !important;
}
.card-title p{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper{
    width: 160px;
  
}
img,svg{
  display: block;
  width: 100%;
  max-width: 100%;
}
.card{
    position: relative;
    width:160px;
    height:fit-content;
    border-radius: 10px;
    overflow: hidden;
    
}
.card-banner{
  background-color: #fff;
}
.banner{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #fff;
    .chip{
        background-color: #121212;
        color: #fff;
    }
}
.chip{
    background-color: #121212;
    color: #fff;
}
.titleWrapper{
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MuiChip-root.MuiChip-filled.MuiChip-sizeSmall.MuiChip-colorDefault{
  margin: 5px;
}

.MuiChip-label.MuiChip-labelSmall.css-wjsjww-MuiChip-label{
  padding: 3px 16px;
  background: #000;
  color: #ffff;
  border-radius: 20px;
}

.card-wrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.firstCard{
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #430058;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}
.firstCard div{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.firstCard div:last-child{
  font-size: 1rem;
}
.imageWrapper{
  position: relative;
}