.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.MuiOutlinedInput-root.MuiInputBase-colorPrimary{
  justify-content: space-between;
  width:100%;
}
#searchInput{
  padding: 12px ;
  border-right: 1px solid gray;
}

h2{
  text-align: center;
}
form{
  padding: 0px 24px 24px 24px !important;
}